#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: aliceblue;
}

img {
  height: 100px;
  width: 200px;
  opacity: 0.75;
}

body {
  font-optical-sizing: auto;
  font-size: 30px;
  color: darkblue;
  background-image: url(https://images.unsplash.com/photo-1559832939-26f880246f38?q=80&w=2564&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

h3 {
  opacity: 0.85;
  font-style: italic;
  color: rgb(23, 154, 219);
}

p {
  color: darkblue;
  opacity: 0.9;
}

h1 {
  font-size: 100px;
  /* color: rgb(95, 185, 240); */
  color: rgb(76, 113, 224);
  opacity: 0.88;
}

.App {
  width: 100%;
  height: 100%;
  color: royalblue;
}

/* .disclaimer {
} */

/* .disclaimer-img {
} */

.disclaimer-tag {
  color: rgb(142, 101, 244);
  font-size: 15px;
  margin-top: 100px;
}

.title {
  color: rgb(58, 122, 241);
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.topic-container {
  font-size: 15px;
  display: flex;
  gap: 10px;
}

.container {
  justify-content: space-between;
}

.error {
  text-align: center;
}

.btn {
  color: white;
  background-color: rgb(29, 175, 248);
  font-size: 18px;
  border-color: cornflowerblue;
  padding: 5px 10px;
  text-align: center;
}

button:hover {
  background-color: rgb(77, 194, 252);
  color: white;
}

/* The loader code below is from Deb's Openweather activity example and is from W3schools.*/
.Loader {
  /* border: 16px solid #f3f3f3;  */
  /* border-top: 16px solid rgb(90, 89, 89);  */
  border: 16px solid rgb(172, 170, 170);
  border-top: 16px solid whitesmoke;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input {
  margin: 15px;
}
