#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 20;
  padding: 20;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: aliceblue;
}

img {
  height: 100px;
  width: 200px;
  opacity: 0.75;
}

body {
  font-optical-sizing: auto;
  font-size: 30px;
  color: darkblue;
}

h3 {
  opacity: 0.85;
  font-style: italic;
  color: rgb(23, 154, 219);
}

p {
  font-size: 25px;
  color: darkblue;
  opacity: 0.9;
}

h1 {
  font-size: 100px;
  /* color: rgb(95, 185, 240); */
  color: royalblue;
  opacity: 0.88;
}

.App {
  width: 100%;
  height: 100%;
  color: royalblue;
}

.disclaimer-tag {
  color: rgb(142, 101, 244);
  font-size: 8px;
}

.title {
  color: rgb(58, 122, 241);
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  justify-content: space-between;
}

.error {
  text-align: center;
}

button {
  /* color: royalblue;
  font-size: large; */
  background-color: rgb(23, 154, 219);
  border-style: groove;
  border-radius: 10px;
  border-color: royalblue;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(29, 175, 248);
}

/* The loader code below is from Deb's Openweather activity example and is from W3schools.*/
.Loader {
  /* border: 16px solid #f3f3f3;  */
  /* border-top: 16px solid rgb(90, 89, 89);  */
  border: 16px solid rgb(172, 170, 170);
  border-top: 16px solid whitesmoke;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
